body, html {
    margin: 0;
    padding: 0;
    scroll-padding-top: 120px;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    padding-top: 60px;
    background-color: #333;
    background-image: linear-gradient(to bottom right, #bdc3c7, #2c3e50);
    background-attachment: fixed;
}

main {
    margin-top: 60px;
    padding: 20px;
}

/* Code pour la barre de navigation */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgba(51,51,51,0.8);
    padding: 20px 0;
    -webkit-backdrop-filter: blur(10px); /* Pour Safari */
    backdrop-filter: blur(10px); /* Standard */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

nav ul li a:hover, nav ul li a:focus, nav ul li a:active {
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

nav ul li a .home-icon {
    margin-right: 5px;
}

/* Code pour la section principale */
.section {
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 120px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.section:first-of-type {
    margin-top: 120px;
}

header {
    /*color: #fff;*/
    text-align: left;
    padding-left: 50px;
    padding-top: 70px;
}

h1 {
    margin: 0;
}

a:hover {
    text-decoration: underline;
}

.nom {
    color: #0047ab;
}

.rocket {
    font-size: 1.2em;
    vertical-align: middle;
}

/* Code pour la section d'introduction */
.intro-section {
    background-color: #ffffff;
    border-left: 4px solid #007bff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 200px;
    display: block;
    background-image: linear-gradient(to right, #e6e6e6, #ffffff);
}

.intro-photo {
    max-width: 180px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    display: block;
    margin: 0 auto 20px;
}

.intro-text {
    max-width: 90%; /* ou une valeur spécifique en px si vous préférez */
    margin: 0 auto; /* Cela centrera le texte si la largeur est inférieure à 100% */
}

.intro-section p {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 1px;
}

.cv-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.cv-button:hover, .cv-button:focus {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    text-decoration: none;
}

/* Code pour la section footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 0.5em 0 35px;
    margin-top: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-links a {
    display: inline-flex;
    align-items: center;
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.social-links a img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.social-links .separator {
    color: #fff;
    margin: 0 5px;
    vertical-align: middle;
}

/* Code pour la section formulaire */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea, form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Code pour la section Qui je suis */
#qui-je-suis .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

#qui-je-suis img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 15px;
}

#qui-je-suis h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

#qui-je-suis p {
    font-size: 1rem;
    line-height: 1.4;
    color: #666;
    margin-bottom: 10px;
    text-align: justify;
}

/* Code pour la section Compétences */
#competences {
    background-color: #fff;
    padding: 25px 25px;
}

#competences h2 {
    text-align: center;
    font-size: 1.9rem;
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
}

#competences h3 {
    font-size: 1.4rem;
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.skills-list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
}

.skills-list li {
    display: inline-block;
    margin: 8px;
    font-size: 0.95rem;
    line-height: 1.4;
    color: #666;
    background: #f7f7f7;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.skills-list .emoji {
    margin-right: 8px;
    font-size: 1.45rem;
}

/* Code pour la section Projets */
#projets {
    background-color: #fff;
    padding: 20px;
}

#projets h2 {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.project h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.project p {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}

/* Code pour la section Contact */
#contact {
    background-color: #fff;
    padding: 40px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    /*margin-top: 20px;*/
}

#contact h2 {
    text-align: center;
    font-size: 2.2rem;
    color: #333;
    margin-bottom: 30px;
}

#contact p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

form input, form textarea {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 1.1rem;
}

form button {
    font-size: 1.1rem;
    padding: 10px 0;
    width: 60%;
    margin: 0 auto;
    display: block;
}

#contact a {
    color: #007bff;
    text-decoration: none;
}

#contact a:hover {
    text-decoration: underline;
}

/* Bouton pour remonter en haut de la page */
.back-to-top, .back-to-top:hover, .back-to-top:focus {
    text-decoration: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.back-to-top .arrow, .back-to-top .text {
    text-decoration: none;
}

.back-to-top:hover, .back-to-top:focus {
    background-color: #444;
}

.back-to-top .arrow {
    font-weight: bold;
    font-size: 24px;
}

.back-to-top .text {
    display: none;
}
